.container {
    display: flex;
    padding: 20px;
    min-width: 415px;
    cursor: pointer;
}

.container:hover {
    background-color: rgba(0,0,0,0.07);
}

.icon {
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #2C2C2C;
    padding: 10px;
}

.title {
    font-weight: 900;
    font-size: 22px;
}

.subtitle {
    font-weight: 300;
}