.container {
    padding-bottom: 40px;
}

#eventModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #e2e2e2;
    width: 60%;
    height: 75%;
    border-radius: 10px;
    border: #2e2e2e 1.5px solid;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#eventModal input {
    border: none;
    font-size: 18px;
    background: rgba(0,0,0,0);
    padding: 5px 10px;
}

#eventTitle {
    font-size: 35px;
    background: #FECB6D;
    padding: 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #2e2e2e;
    outline: #2e2e2e 1.5px solid;
    font-weight: 900;
}

#eventTitle input {
    font-family: 'Montserrat';
    font-size: 30px;
    background: #FECB6D;
    color: #2e2e2e;
    font-weight: 900;
    width: 70%;
}

#close {
    float: right;
    padding-right: 10px;
}

#close:hover {
    cursor: pointer;
    color: red;
}

#eventContent {
    padding: 15px 10px;
    overflow-y: scroll;
    
}

.dates {
    font-size: 25px;
}

.submit {
    border: none;
    background: #2C3E50;
    color: white;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    font-weight: 400;
    padding: 0.4em 0.65em;
}

.error {
    color: red;
    font-size: 15px;
}

.weekDays_selector input {
    display: none!important;
}
  
.weekDays_selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
  
.weekDays_selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
}