.title {
    background: #FECB6D;
    height: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.dash {
    color: #b16f9f;
}

.dash:hover {
    color: #b16f9f;
}

/* The sidebar menu */
.nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2C2C2C; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
}
  
.items {
    overflow-y: auto; /* Enable scroll if screen is small*/
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .nav .item {font-size: 18px;}
}