html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  background: #EEE;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FECB6D;
}

#__next {
  height: 100%;
  width: 100%;
}

/*Theme the header*/
.tabulator .tabulator-header .tabulator-col {
    color:#FECB6D;
}